<span class="title-small-screens">{{title}}.</span>
<!-- 
<div class="block-content">
    <app-title-part-main titleRight="Available products" color="#FFBC99"></app-title-part-main>
    <div class="first-info-card">
        <app-cards-selectable *ngFor="let prod of products" title={{prod.title}} type={{prod.type}} id="{{prod.id}}" code="{{prod.code}}" color="{{prod.color}}"></app-cards-selectable>
    </div>
</div> -->

<div class="block-content">
    <app-title-part-main titleRight="Last inputs" color="#B1E5FC"></app-title-part-main>
    <app-table-entries></app-table-entries>
</div>