<span class="title-small-screens">{{title}}.</span>

<div class="block-content">
    <app-title-part-main titleRight="Laboratories working with " titleLeft="Nutriset" color="#FFBC99"></app-title-part-main>
    <div class="first-info-card">
        <app-cards-selectable *ngFor="let labo of laboratories" title={{labo.title}} type={{labo.type}} id="{{labo.id}}" code="{{labo.code}}" color="{{labo.color}}"></app-cards-selectable>
    </div>
</div>

<div class="second-area">
    <div class="left-part">
        <div class="block-content content-second-row">
            <app-title-part-main app-title-part-main titleRight="Add a lab"  color="#B1E5FC"></app-title-part-main>
            <app-form-products color="#B1E5FC" placeholder="Lab name"></app-form-products>
        </div>
    </div>
    <div class="right-part" [ngClass]="getSelectedColor()?'':'unauthorized-part'">
        <div class="block-content content-second-row">
            <app-title-part-main app-title-part-main titleRight="Make some changes" type="2" color="#f1f1f1"></app-title-part-main>
            <app-action-selected color="#f1f1f1" type="2"></app-action-selected>
            <div *ngIf="!getSelectedColor()" class="select-warning shadow">
                <span>select a lab</span>
            </div>
        </div> 
    </div>
</div>

