<div class="number-cards shadow">
    <div class="left-part">
        <div class="circle-icon" [ngStyle]="{'background-color': color}">
            <fa-icon [icon]="arrayIcons[codeSpecification]"></fa-icon>
        </div>
    </div>
    <div class="right-part">
        <div class="title-part">
            <span class="span-title-part">{{title}}</span>
        </div>
        <div class="quantity-part">
            <input type="text" name="" id="" value={{quantity}}/>
        </div>
    </div>
</div>