@import "../../../../variables.scss";

:host {
    display: flex;
    justify-content: center;
    align-items: center;
}

th {
    margin-bottom: 50px;
}

.unselected-filter {
    color: var(--text-color-unselected);
    font-weight: normal;
}

.icon-hidden {
    display: none;
}

th .title-filter {
    display: flex;
    justify-content: center;
    align-items: center;
}

th .title-filter fa-icon {
    margin-left: 8px;
}

th span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.table-product {
    width: 80%;
    border-radius: 20px;
    background-color: var(--table-color);
    font-size: $font-size-table-l-screen ;
}

td span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
}

table {
    border-collapse: collapse; 
}

tr:not(:last-child), th{
    border-bottom: 1px solid var(--border-table);
}

table{
    margin-bottom: 50px;
}

.update {
    color:var(--update);
}

.creation {
    color:var(--creation);
}


@media screen and (max-width: $breakpoint-m-screen) {
    .table-product {
        font-size: $font-size-table-m-screen;
    }
}