@import "../../../../variables.scss";

.content {
    height: $size-logo;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    position: relative;
}

.circle-content {
    min-width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 25px;
    font-size: $font-size-logo-icon-l-screen;    
}