@import "../../../../../variables.scss";

:host {
    height: 100%;
    // background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.number-cards {
    display: grid;
    grid-template-columns: 2fr 5fr;
    width: 70%;
    position: relative;
}

.left-part, .right-part {
    height: 100%;
}

.right-part {
    display: grid;
    grid-template-rows: 5fr 8fr;
}

.left-part {
    display: flex;
    align-items: center;
}

.quantity-part, .title-part {
    display: flex;
    align-items: center;
}

.quantity-part{
    font-weight: $weight-logo-part-l-screen;
    font-size: $font-size-title-top-l-screen;
}

.title-part{
    font-size: $font-size-title-part-l-screen;
    color:var(--text-color-unselected)
}

.max-reached {
    position: absolute;
    background-color: var(--max-reached);
    font-weight: $weight-logo-part-l-screen;
    color: var(--text-max-reached);
    padding: 5px;
    border-radius: 20px;
    top: 0;
    right: 0;
    width: fit-content;
}

@media screen and (max-width: $breakpoint-m-screen){
    .quantity-part {
        font-size: $font-size-title-top-m-screen;
    }
    .title-part{
        font-size: $font-size-title-part-m-screen;
    }

    .right-part {
        margin-left: 8px;
    }
}

@media screen and (max-width: $breakpoint-m-screen){
    .left-part {
        align-items: flex-end;
        margin-bottom: 20px;
    }

    .title-part {
        margin-left: -60px;
    }

    .number-cards {
        width: 50%;
    }
}