@import "../../../../variables.scss";

.global-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
}

.row-carac-incertitude {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.row-carac-incertitude span {
    margin-left: 0px;
    padding-left: 24px;
}

.incertitude {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.row-carac-incertitude input{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: large;
    border: transparent;
    background-color: var(--color-nav-bar);

    width: 50%;
}

@media screen and (max-width: $breakpoint-l-screen) {
    .global-display {
        grid-template-columns: 1fr;
    }

    .row-carac-incertitude span {
        margin-left: 0px;
        left: 20px;
    }
}